.form, .greetings{
    display: none;
}

.showing{
    display: block;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.weather{
    margin-bottom: 70px;
}
.bgImage {
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.listBox {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.listBox ul{
    width: 150px;
}
button:focus{
    outline: none;

}

button{
    padding: 2px;
}

button:nth-child(1){
}

li span{
    margin-right: 4px;
}
.toDoList{
    border-right: 2px solid rgba(0,0,0,0.5);
}

.state{
    display: none;
}
